/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  &__random-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
  }
}

.breed-section {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: circle;
  cursor: pointer;
  text-decoration: none;
}

img {
  margin: 1rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

button {
  width: 10rem;
  height: 2rem;
  background: green;
  color: white;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
